# Python virtual env
.venv
**/__pycache__

# RiscV general doc
riscv_doc

# Modelsim artefacts
src/bench/**/*.wlf
src/bench/**/wave.do
src/bench/**/transcript
src/bench/**/tcl_stacktrace.txt
src/bench/**/modelsim.ini
src/bench/**/results.xml
src/bench/**/vish_stacktrace.vstf

# Build artefacts
**/sim_build
src/bench/**/*.o
src/bench/**/*.elf
src/bench/**/*.bin
src/bench/**/*.txt

# Riscof build directory
src/bench/riscof/riscof_work

# Python editable libraries
lib/python/**/*.egg-info

# Vivado
place/*
